@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR&display=swap');
*
{margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {background: #fff;}

/* 메뉴 */
.navbar{
  background: #fff;
  height: 150px;
  width:1670px;
}
.navbar_logo{
  float: left;
  margin: 30px 0 0 150px;
}
.navbar_menu{
  float: left;
  list-style: none;
  position: relative;
  /* border : 1px solid red;*/
  width:1400px;
}
.navbar_menu > li{
  float: left;
  display: inline-block;
  background: #fff;
  margin: 0 40px;
}
.navbar_menu li a{
  color: #011171;
  line-height: 150px;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 25px;
  /* border : 1px solid blue;*/
}
.navbar_menu li a:hover{
  color: #ff0f4c;
}
.navbar_menu ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #011171;
  background-color: #fff;
  visibility: hidden;
  transition: top .3s;
}
.navbar_menu>ul li a:hover{
  box-shadow: none;
}
.navbar_menu li:hover > ul{
  top: 100px;
  opacity: 1;
  visibility: visible;
}
.navbar_menu ul li{
  position: relative;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
.navbar_menu ul li a{
  line-height: 45px;
  font-size: 0.9em;
}
.navbar_menu ul li a:hover{
  color:#ff0f4c;
}

.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

/* 메인 이미지  */
.poster {
width:100%;
height:600px;
background-image: url(./img/main.jpg);
background-color: #fff;
border: 1px solid transparent;
font-size: 0;
clear: both;
}

/* 경기 결과 슬라이드  */
.result {
position: relative;
height: 178px;
width: 850px;
margin:20px auto;
}

.result>a {
display: block;
position: absolute;
top: 110px;
overflow: hidden;
width: 20px;
height: 35px;
text-align: left;
text-indent: -10000em;
}
.result li {
text-align: center;
}

.result li .date {
display: block;
margin-bottom: 10px;
font-size: 1.5em;
color:#011171;
line-height: 1em;
}
.result li .date .condition {
display: inline-block;
}
.result li .date .condition:before {
display: inline-block;
width: 30px;
height: 18px;
content: "";
}
.result li dl {
display: table;
float: left;
width: 327px;
height: 120px;
vertical-align: middle;
}
.result li dl>* {
display: table-cell;
vertical-align: middle;
}

.resultS li dl:after {
display: block;
clear: both;
content: '';
}
.result li dt span,
.result li dd span {
display: none;
}
.result li dt,
.result li dd {
width: 113px;
font-size: 0.9em;
font-weight: 700;
color: #011171;
line-height: 1em;
}
.result li .score {
font-weight: bold;
font-size: 3.375em;
color: #011171;
text-align: center;
line-height: 1em;
}


/* 구단 뉴스 */
.news{
clear: both;
width: 100%;
height: 600px;
margin-top:100px;
background-color: #fff;
}

/* 구단 유튜브 */
.youtube{
float: left;
width: 100%;
height: 500px;
}

.text-dotdotdot {
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}


.main-subtitle-text {
font-size: 14px;
font-weight: 400;
color: #999999;
}
/*팝업*/
.popup_box {
  display: none;
  width:350px;
  height:300px;
  background-color: #fff;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 15px;
  border-radius: 30px;
}

.popup_bg {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  display: none;
  background-color: rgba(0,0,0,0.5);
}
.popup_bg.active{
  display: block;
}

.popup_box.active{
  display: block;
}
.popup_tit {
  text-align: center;
  margin-top:30px;
  font-size:1.5em;
  font-weight: 800;
  font-family: 'Noto Sans KR', sans-serif;
}
.txt-box {
  margin-top:50px;
  margin-bottom: 50px;
  text-align: center;
  font-size:1.1em;
  font-weight: 600;
  font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Noto Sans KR', sans-serif;
}
.txt-box > .txt-box-port {
  color:#011171;
  font-size:1.1em;
  font-weight: 600;
}
.btn-box {
  margin-top: 20px;
}
.btn-box > input {
  display: block;
  width:20px;
  height:20px;
  margin-left: 30px;
}
.btn-box > .btn-txt {
  margin-left: 60px;
  margin-top:-22px;
}
.btn-box > .btn-close {
  cursor: pointer;
  margin-top:-25px;
  margin-left: 250px;
  width: 50px;
  height: 30px;
  padding-left: 8px;
  padding-top:3px;
  background:#000;
  border-radius: 5px;
  color: #fff;
}

/* footer */
.f-wrap:after {
content:'';
clear:both;
display:block;
}

.f-wrap > div:first-of-type {
margin-left:0 !important;
}

footer {
float: left;
width: 100%;
border-top: 1px solid #e3e5e9;
background-color: #e7e7e7;
padding-bottom:30px;
}
footer .footer-logo {
margin-left:400px;
margin-top:40px;
/*border:1px solid red;*/
display: inline-block;
}
footer.footer-wrap .info-wrap {
width: calc(100% - 38.8rem);
margin:-50px 0 0 550px;
}

footer.footer-wrap .info-wrap .page-link {
  margin-left:50px;
  margin-top:-70px;
}
footer.footer-wrap .info-wrap .page-link a {
float:left;
text-decoration: none;
display: inline-block;
color:#000;
/*font-size:0.9em;*/
font-weight:600;
margin-left:10px;
margin-bottom:15px;
margin-top:-5px;
/*border:1px solid blue;*/
}
footer.footer-wrap .footer-info{
display: inline-block;
width:1000px;
margin-top:-3px;
margin-left:60px;
/*border:1px solid green;*/
}
footer .footer-sns{
  display:inline-block;
  margin-left:15px;
  margin-top:-8px;
  /*border:1px solid orange;*/
}
footer .footer-sns a{
  margin-right:10px;
}




